@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css');
@import "tailwindcss";

:root {
  --background: #FFFCF3;
  --foreground: #171717;
  --brand-teal: #005251;
  --brand-orange: #FE8B53;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-teal: var(--brand-teal);
  --color-brand-orange: var(--brand-orange);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Jost', sans-serif;
}

* {
  box-sizing: border-box;
}